<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css"></link>
</head>
<body>
<h1>hi</h1>
<% if (!userID) { %>
    <a href="/signup">Signup</a><br>
    <a href="/login">Login</a><br>
<% } else { %>
    <h2>Welcome <%= userID %>,</h2>
    <a href="/logout">Logout</a>
<% } %>
</body>
<script src="/script/indexPage.js"></script>
</html>